html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/pexels-j-lee-7003468.jpg'); /* Spécifiez le chemin de votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le corps */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    backdrop-filter: blur(5px);
}
header {
    background-color: rgb(131, 130, 130);
}
nav {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, sans-serif;
}
#liens {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
input {
    border: none;
    opacity: 50%;
    border-radius: 50px; 
    padding: 1%;
    margin-right: 40px;
}
@font-face {
    font-family: "Titre";
    src: url("polices/pacifico/Pacifico.ttf") format("truetype");
}
.titre {
    display: flex;
    justify-content: center;
}
.titre article {
    font-family: 'titre', sans-serif;
    font-size: 200%;    
    background: linear-gradient(to right, #bd5500, #d8c300, #00a900); /* Dégradé de couleur de gauche à droite */
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
  }
.sous-titre article {
    font-family: 'titre', sans-serif;
    font-size: 150%;    
    background: linear-gradient(to right, #ff7300, #dbc500, #009700);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent; 
 }
.quisommesnous {
    text-align: center;
    padding: 0 5%;
    font-family: cursive;
}
.images {
    display: flex;
    justify-content: space-around;
}
.images img{
    height: 80%;
    width: 20%;
    margin: 3% 0;
    padding: 0 2%;
}
.nosservices {
    font-size: 85%;
    display: flex;
    flex-direction: row;
   font-family: cursive;
}
.nosservices article {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border-right: none; /* Pas de bordure pour le dernier élément */
    margin-right: 1vh; /* Espace entre les colonnes */
    border-right: 1px solid #00000012; /* Bordure verticale */
    padding: 1%;
    border-radius: 15%; /* Rayon des coins */
}

